<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
		<div class="container">
			<h1>Book review app</h1>
			<small>By Alberto Nessi</small>
			
			<div class="row justify-content-between mb-4 mt-4">
				<div class="col-6">
					{% if data.currentPage == 'home' %}
						<button class="btn btn-primary" id="homeBtn">Home</button>
					{% else %}
						<button class="btn btn-outline-primary" id="homeBtn">Home</button>
					{% endif %}
				</div>
				<div class="col-6 text-end">
					{% if data.currentPage == 'home' %}
						<button class="btn btn-outline-primary" id="myReviewsBtn">My reviews</button>
					{% else %}
						<button class="btn btn-primary" id="myReviewsBtn">My reviews</button>
					{% endif %}
				</div>
			</div>
			
        	{% block body %}{% endblock %}
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

		{{ include('review_book_modal.html.twig') }}
    </body>
</html>
