{% extends "base.html.twig" %}

{% block title %}Search books{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {

			// GO TO MY REVIEWS...
			$("#myReviewsBtn").on("click", function(){
				window.location.href = '{{ url("myReviews_url") }}';
			});


			// Reset all fields inside the modal when the user closes it...
			$("#reviewBookModal").on("hidden.bs.modal", function(){
				console.log('resetting modal...');
				
				$("#voteValue").val('');
				$("#vote").val('');
				$("#reviewDescription").val('');
				$("#bookId").val('');
				$("#bookTitle").val('');

				console.log('Done.');
			});
			
			// SEARCH BOOKS...
			$("#searchButton").on("click", function(){
				$("#searchingLoader").removeClass("d-none");

				$.ajax({
					url: "https://gutendex.com/books?search=" + $("#searchInput").val() + "%20great",
					type: 'GET',
					success: function(response) {
						$("#bookListTableTBody").empty();

						// Check empty response
						if(response.results.length === 0) {
							$("#searchingLoader").addClass("d-none");
							$("#alertEmptyData").removeClass('d-none');
							$("#bookListTable").addClass('d-none');
							return;
						}

						$("#alertEmptyData").addClass('d-none');

						
						// Append results to table
						let booksList = '';
						$.each(response.results, function(key, value){
							booksList += '<tr>';
							booksList += "<td><p>" + value.id + "</p></td>";
							booksList += "<td><p>" + value.title + "</p></td>";
							booksList += "<td><p>" + value.authors[0].name + "</p></td>";
							booksList += "<td><p>" + value.download_count + "</p></td>";
							booksList += 
								`<td>
									<button 
										class='btn btn-outline-success reviewBtns' 
										data-bookid='` + value.id + `'
										data-booktitle='` + value.title + `'
									>Review</button>
								</td>`;
							booksList += '</tr>';
						});

						// Remove loader...
						$("#searchingLoader").addClass("d-none");

						// Append response data
						$("#bookListTableTBody").append(booksList);
						$("#bookListTable").removeClass('d-none');

						// Review modal
						$(".reviewBtns").on("click", function(){
							// Show selected vote to the user for better UI
							const $rangeInput = $('#vote');
							const $rangeOutput = $('#voteValue');

							// Set initial value
							$rangeOutput.text($rangeInput.val());

							// Update on input (while dragging)
							$rangeInput.on('input', function() {
								$rangeOutput.text($(this).val());
							});

							$("#bookId").val($(this).data('bookid'));
							$("#bookTitle").val($(this).data('booktitle'));
							$("#reviewBookModal").modal("show");
						});

						$("#submitReviewBtn").on("click", function(){
							console.log("submitReviewBtn on click");
							console.log("Serialize form:");
							console.log($("#formReview").serialize());
							
							$.ajax({
								url: '{{ url("postReview_url")  }}',
								method: 'POST',
								data: {
									book_id: $("#bookId").val(),
									book_title: $("#bookTitle").val(),
									vote: $("#vote").val(),
									review_vote: $("#voteValue").val(),
									review_description: $("#reviewDescription").val(),
								},
								dataType: 'json',
								success: function(response){
									console.log(response);
								},
								error: function(){
									alert('An error occurred, retry!');			
								},
								complete: function(){
									$("#reviewBookModal").modal("hide");
								}
							});
						});
					},
					error: function() {
						$("#searchingLoader").addClass("d-none");
						alert('An error occurred, retry!');
					}
				});
			});	
		});
		
	</script>
{% endblock %}

{% block body %}
	<div class="mb-4" id="searchContainer">
		<form id="searchBookForm">
			<textarea class="form-control mb-4" id="searchInput" name="searchInput" placeholder="search author names and book titles..."></textarea>
			<div class="row">
				<div class="col-6"></div>
				<div class="col-6 text-end">
					<button type="button" class="btn btn-success" id="searchButton">Search</button>
				</div>
			</div>
		</form>

		<div class="d-flex justify-content-center d-none" id="searchingLoader">
			<div class="spinner-border" role="status">
			  <span class="visually-hidden">Loading...</span>
			</div>
		  </div>
	
		<div class="alert alert-warning d-none" role="alert" id="alertEmptyData">No data for this search.</div>
	
		<table class="table table-sm table-bordered d-none" id="bookListTable">
			<thead>
				<td>
					<p>ID</p>
				</td>
				<td>
					<p>Titolo</p>
				</td>
				<td>
					<p>Autore</p>
				</td>
				<td>
					<p>N. download</p>
				</td>
				<td>
					<p></p>
				</td>
			</thead>
			<tbody id="bookListTableTBody"></tbody>
		</table>
	</div>
{% endblock %}
