<div class="modal" tabindex="-1" id="reviewBookModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Review</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="bookTitle" class="fw-bold"></p>
				<form id="formReview">
					<label for="score" class="form-label">Vote</label>
					<input type="range" class="form-range" min="1" max="10" id="score" name="score">
					<output for="score" name="scoreValue" id="scoreValue" aria-hidden="true"></output>
					
					<div class="form-floating mt-4">
						<textarea class="form-control" placeholder="Leave a review here" id="reviewDescription" name="reviewDescription" style="height: 100px"></textarea>
						<label for="reviewDescription">Review description</label>
						
						<input type="hidden" id="bookId" name="bookId" />
						<input type="hidden" id="bookTitleHidden" name="bookTitleHidden" />
						<input type="hidden" id="reviewId" name="reviewId" />
					  </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="submitReviewBtn">Save review</button>
			</div>
		</div>
	</div>
  </div>